python-telegram-bot[job-queue]>=20.0
requests
httpx
yt-dlp
qrcode[pil]
aiosqlite
spotipy
Faker
gTTS
deep-translator
PyPDF2
Pillow
cryptography
selenium
webdriver-manager
beautifulsoup4
feedparser
pytz
psutil
tempmail
aiosqlite
beautifulsoup4
cryptography
deep-translator
Faker
feedparser
gTTS
httpx
Pillow
psutil
PyPDF2
python-telegram-bot[job-queue]
pytz
qrcode[pil]
requests
selenium
spotipy
telegram
temp-mail
tempmail
webdriver-manager
yt-dlp
aiohttp
speedtest-cli
